body{
  background-color: white;

}

.careers,
.freetime,
.wellbeing{
    font-family :'Feltpoint';
    font-size :20px;
    background-color:lightblue;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
  }


.btn-twitter{
  background:black;
  border-color:white;
  padding: 5px;
}
.btn-facebook{
  background:black;
  border-color:white;
}
.btn-pinterest{
  background:black;
  border-color:white;
}

.btn-twitter,
.btn-facebook,
.btn-pinterest {
  padding: 15px;
  border-color:white;
  border: 1px solid white
  text-decoration: none;
  background-color: white;
  color: black;
  text-align: center;
  margin: 200px 0 0 0;
  display: inline-block;
  border-bottom-right-radius: 1000px;
}
body {
     text-align: center;
     background: white;
     color: white;
     font-size: 17px;
   }
 label{
   font-family: monospace;
   margin: 100px 0 0 0;
   color: black;

 }


h3{
  font-family : monospace;
  font-style: italic;
  color: black;
  text-align: center;
  background-color: white;
}
 h1{
  text-align: center;
  background-color: white;
  color: red;
  padding-box: 50px;
  font-size: 70px;
  font-weight: bold;
}
.btn-signup{
  background: red;
  color: white;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 2px;

}
.video{
  margin-top: 30px;
}
